services:
  nginx:
    image: nginx:alpine
    container_name: reverse_proxy
    ports:
      - "80:80"
    depends_on:
      - frontend
      - app
      - keycloak
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    expose:
      - "80"
    depends_on:
      - keycloak
    volumes:
      - ./src/todoist:/app/src/todoist
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    expose:
      - "5173"
    depends_on:
      - app
    environment:
      - VITE_API_URL=/api
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/index.html:/app/index.html
      - ./frontend/vite.config.js:/app/vite.config.js
    networks:
      - app-network

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    restart: always
    command: start-dev
    expose:
      - "8080"
    ports:
      - "8080:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: keycloak-admin-password

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak-password

      KC_HTTP_ENABLED: "true"

      # v2-style: serve Keycloak under /auth
      KC_HTTP_RELATIVE_PATH: /auth

      # v2-style: tell Keycloak how to interpret proxy headers
      KC_PROXY_HEADERS: xforwarded

      # external hostname as seen by the browser
      KC_HOSTNAME: http://localhost/auth
      KC_HOSTNAME_STRICT: "false"

      KC_FEATURES: scripts
    volumes:
      - ./kc_scripts/keycloak-policies.jar:/opt/keycloak/providers/keycloak-policies.jar:ro
    depends_on:
      - keycloak_postgres
    networks:
      - app-network

  keycloak_postgres:
    container_name: keycloak_postgres
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak-password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
